body {
  background:url('bg-swirl.jpg');
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
/* Comment */
h1 {
  color:rgba(173, 12, 201, 1);
  font-family:'Poppins', sans-serif;
  font-size:3em; text-align:center;
  text-shadow:3px 2px black;
}

span {
  color:red;
}

.jumbotron {
  background-color: blue;
}

.test-form {
  text-align: center;
}

.render-text {
  font-size: 3em;
  color: white;
  font-weight: 400;
}

#info-box {
  background: rgba(255,255,255,.75);
  padding:5%; margin:5%;
  border:1px solid black;
}

.content-box {
  text-align:center;
  margin: 2%;
}

.col {
  background-color: red;
  border: 1px solid green;
}

.col-4 {
  background-color: blue;
}

.col-8 {
  background-color: orange;
}
